Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Templates/
Videos/
.cache/
.local/
.mozilla/
..gitignore.swp
.Xauthority
.bash_history
.gitconfig
.lesshst
.profile
.sudo_as_admin_successful
.xsession-errors
.bash_logout
.config/pulse/
.config/dconf
.config/i3/*.swp
.cargo/
.config/alacritty/colorscheme/
.ssh/
.config/gtk-2.0/
.config/nitrogen/
.bashrc.bak
.python_history
